# Tex files 
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.hd
*.log
*.nav
*.out
*.toc
*.pdf
*.snm
*.synctex.gz
*.xdv


# rocq  files
.*.aux
.*.d
*.a
*.cma
*.cmi
*.cmo
*.cmx
*.cmxa
*.cmxs
*.glob
*.ml.d
*.ml4.d
*.mlg.d
*.mli.d
*.mllib.d
*.mlpack.d
*.native
*.o
*.v.d
*.vio
*.vo
*.vok
*.vos
.coq-native
.csdp.cache
.lia.cache
.nia.cache
.nlia.cache
.nra.cache
csdp.cache
lia.cache
nia.cache
nlia.cache
nra.cache
native_compute_profile_*.data

_opam
